# ignored file when package to source.tgz
.gitattributes export-ignore
.gitignore export-ignore
.asf.yaml export-ignore
apache-release.sh export-ignore
.licenserc.yaml export-ignore
*.xlsx export-ignore
*.pdf export-ignore
*.docx export-ignore

# ignored directory
.github/ export-ignore
.idea/ export-ignore
style/ export-ignore
scripts/ export-ignore
