# HugeGraph LLM Environment Configuration File
# Please copy this file to .env and modify the configuration according to actual needs

# ==================== Project Path Configuration ====================
# Please set to your project absolute path
PROJECT_PATH=path_to_project
/home/lin/project/startup/incubator-hugegraph-ai