name: "Black Code Formatter"

on:
  push:
    branches:
      - 'release-*'
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: psf/black@3702ba224ecffbcec30af640c149f231d90aebdb
        with:
          options: "--check --diff --line-length 100"
          src: "hugegraph-llm/src hugegraph-python-client/src"
