name: HG-Python-Client CI

on:
  push:
    branches:
      - 'release-*'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install -r ./hugegraph-python-client/requirements.txt
    - name: Prepare HugeGraph Server Environment
      run: |
        docker run -d --name=graph -p 8080:8080 -e PASSWORD=admin hugegraph/hugegraph:1.3.0
        sleep 20
    - name: Test example
      run: |
        export PYTHONPATH=$(pwd)/hugegraph-python-client/src
        echo ${PYTHONPATH}
        python hugegraph-python-client/src/pyhugegraph/example/hugegraph_example.py
    - name: Test with pytest
      run: |
        pytest
      working-directory: hugegraph-python-client
